html,body{
  font-family: 'Cormorant Garamond', serif;
}

a{
  color:rgb(105, 188, 216);
}

.first{
  display: flex;
  flex-direction: row;
}

.second{
  height:60vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index:5;
}

#main{
  height:60vw;
  width:80vw;
  position: relative;
  overflow: hidden;
  z-index:1;
}

#main img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

#leftarrow{
  height:100%;
  padding-top:30%;
  font-size:6vw;
  border-radius: 15px;
  background:white;
  color:#606060;
  position:absolute;
  opacity:0;
  transition: opacity 1s;
}

#rightarrow{
  height:100%;
  right:0%;
  padding-top:30%;
  font-size:6vw;
  border-radius: 15px;
  background:white;
  color:#606060;
  position:absolute;
  opacity:0;
  transition: opacity 1s;
}


div h1{
  font-family: 'Cormorant Garamond', serif;
  font-size:50px;
  font-weight:400;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  left: 5%;
  position: absolute;
  color:#303030;
  background:rgba(255, 255, 255, 0.6);
}

.contact{
  top: 80px;
  left: 5%;
  position: absolute;
}

#main div h3:hover + .contactmethod{
  opacity:1;
}

div h3{
  font-family: 'Cormorant Garamond', serif;
  font-size:40px;
  font-weight:400;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border-bottom: 1px dotted black;
  color:#303030;
  background:rgba(255, 255, 255, 0.6);
}

.contactmethod{
    width: 250px;
    top:75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    font-size:20px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    opacity:0;
    transition: opacity 1s;
    list-style: none;
}

.contactmethod li{
  padding-top: 5px;
  padding-bottom:5px;
}

#menubutton{
  position: absolute;
  top: 30px;
  right:3%;
  z-index:5;
  color: #606060;
  font-size: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  opacity:0;
}

#menubutton:hover{
  background-color: #c1b4e0;
}

#intro{
  top: 40%;
  left: 40%;
  width:50%;
  padding: 5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  position:absolute;
  font-size:2vw;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: justify;
  text-justify: inter-word;
}


#mainbottom{
  height:60vw;
  width:80vw;
  border-radius: 15px;
  background-color:white;
  position: relative;
  overflow: hidden;
  z-index:5;
  opacity:0.5;
  font-family: 'Noto Sans JP', sans-serif;
}

#main1 {
  height: 60vw;
  width: 80vw;
  min-width: 700px;
  border-radius: 15px;
  background-color: #9cc28a;
  position: absolute;
  content: "";
  transform:  scale(1.25) rotate(36.85deg) translate(0,0);
  transform-origin: top left;
  z-index:0;
  transition:transform 2s, opacity 2s;
}

#main2 {
  height: 60vw;
  width: 80vw;
  min-width: 700px;
  border-radius: 15px;
  background-color: #fab2a2;
  position: absolute;
  content: "";
  transform:  scale(1.25) rotate(36.85deg) translate(3vw,4vw);
  transform-origin: top left;
  z-index:1;
  transition:transform 2s, opacity 2s;
}

#main3 {
  height: 60vw;
  width: 80vw;
  min-width: 700px;
  border-radius: 15px;
  background-color: #c1b4e0;
  position: absolute;
  content: "";
  transform:  scale(1.25) rotate(36.85deg) translate(6vw,8vw);
  transform-origin: top left;
  z-index:2;
  transition:transform 2s, opacity 2s;
}

#main4 {
  height: 60vw;
  width: 80vw;
  min-width: 700px;
  border-radius: 15px;
  background-color: #9cc28a;
  position: absolute;
  content: "";
  transform:  scale(1.25) rotate(36.85deg) translate(9vw,12vw);
  transform-origin: top left;
  z-index:2;
  transition:transform 2s, opacity 2s;
}

.mainlabel {
  font-size:2vw;
  color:#303030;
  top: 1%;
  left: 5%;
  position: absolute;
}

.mainlabel:hover{
  color:white;

}
.maincontent{
  top:10vw;
  width: 60vw;
  margin:auto;
  position:relative;
  font-size:1vw;
  opacity:0;
  transition:opacity 2s ease-in;
  display: flex;
  flex-direction: row;
}

.skills{
  width:50%;
}

.skills ul{
  list-style: none;
}

.skills ul li{
  padding-top:10px;
  padding-bottom:10px;
}

.notstars{
  color:white;
  float: right;
}

.stars{
  color:black;
  float: right;
}


.skills ul li:hover .stars{
  letter-spacing: 2px;
}

.hint{
  font-size:2vw;
  opacity:0.5;
  color:#303030;
  right: 1%;
  position: absolute;
  opacity:0;
  transition:opacity 3s ease-in;
}

.hint:hover{
  color:white;
  cursor:pointer;
}


.navbar{
  height:60vw;
  width:10vw;
  display: flex;
  flex-direction: column;
  z-index:0;
}

.sidebar{
  width:10vw;
  border-radius:15px;
  background-color:white;
  z-index:0;
  position:fixed;
  right:0;
  display: flex;
  flex-direction: column;
  font-family: Futura, 'Noto Sans JP', sans-serif;
  color:#909090;
}

.menu{
  font-size:2vw;
  text-align: right;
  margin-bottom: 10px;
  margin-right:5px;
}

.item{
  font-size:1.5vw;
  text-align: right;
  margin-top:9px;
  margin-right:5px;
}

.item:hover{
  background:#c1b4e0;
  cursor:pointer;
}

#closebutton{
  font-size:1.5vw;
  text-align: right;
  margin-top:9px;
  margin-right:5px;
  display:none
}

#closebutton:hover{
  background:#c1b4e0;
  cursor:pointer;
}


@media (max-width:1000px){
  .navbar{
    display:none;
  }

  #menubutton{
    opacity:1;
  }

  #main{
    width:100vw;
    height:75vw;
  }

  #intro{
    width:30%;
  }

  #mainbottom{
    width:1000px;
    height:75vw;
  }

  .sidebar{
    width: 20%
  }

  .menu{
    font-size:4vw;
  }
  .item{
    font-size:3vw;
  }

  #closebutton{
    display:block;
    font-size:3vw;
  }
}
